.profile-header {
  height: 350px;
  width: 100%;
  background-color: #a4b9f3;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  margin-top: 120px;

}

div.profile {
  display: flex; 
  justify-content: center;
 
}
div.profile h2 {
  margin: 0px;
}