.tweet-display {
  border: 2px solid black;
  margin: 7% 0 0 0;
  height: 160px;
  overflow-wrap: break-word;
}

/* Bolds the tweet box when hovered over  */
.tweet-display:hover {
  font-weight: bold;
  box-shadow: 5px 10px #a4b9f3;
}

.tweet-display:hover .tweet-handle {
  display: block;
}

/*
Top section of tweet container
*/

.tweet-handle {
  display: none;
  line-height: 40px;
}

.tweet-full-name {
  line-height: 40px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.tweet-header-left {
  display: flex;
  justify-content: space-between'
}

/*
Middle section of tweet box container
*/

.tweet-profile-pic {
  height: 50px;
  width: 50px;
  opacity: 0.6;
  margin-right: 20px;
}

.tweet-message {
  width: 90%;
  margin: auto;
}

/*
Bottom of Create Tweet Container
*/

.tweet-footer {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 1.5% 1.5% 3% 1.5%;
  font-size: 15px;
  border-top: 3px solid black;
}

.tweet-logos {
  display: none;
  color: #4056a1;
}
.tweet-display:hover .tweet-logos {
  display: block;
}

/*
Styles the alert message appended to tweet containter when user input violates validation protocol
*/

.alert {
  display: block;
  border: 3px solid  #f44336;
  height: 100px;
  padding: 30px;
  background-color:  #f4f1ec;
  color: #f44336;
  margin-bottom: 15px;
  margin-top: 15px;
  float: bottom;
}



